<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276408908368-abolfsvsj075nto879siuguvsvlj54j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276408908368-abolfsvsj075nto879siuguvsvlj54j8</string>
	<key>API_KEY</key>
	<string>AIzaSyDA-RpM5nnEE3RYtNNsxwwb_rXoNWlNyjw</string>
	<key>GCM_SENDER_ID</key>
	<string>276408908368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.game.borderwander</string>
	<key>PROJECT_ID</key>
	<string>borderwander-a610c</string>
	<key>STORAGE_BUCKET</key>
	<string>borderwander-a610c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276408908368:ios:89fc148126b736b24eaf55</string>
</dict>
</plist>